body {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, Helvetica, "sans-serif";
  border: 2px solid black;
  padding: 0px 50px 50px 50px;
  background-color: rgb(189, 133, 200);
}

h1 {
  font-size: 50px;
  font-weight: bold;
  border: 2px solid black;
}

h2 {
  font-size: 30px;
}
h3 {
  font-size: 30px;
}

p {
  font-size: 25px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 255, 179);
}

.img-croissant {
  width: 50%;
  border-radius: 70%;
  border: 1px solid black;
  box-shadow: 5px;
}
